.about_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-gap: 20rem;
    .left-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 50vh;
        .color-header {
            color: #31004a;
            margin: 0px;
        }
        .description {
            max-width: 800px;
        }
    }
    .right-image {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem;
        grid-gap: 1rem;
        .show-image {
            width: 350px;
            transform: rotate(3deg);
        }
        .show-image-1 {
            width: 350px;
            transform: rotate(-3deg);
        }
    }
}