@import './utils';
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

:root {
  --font-family: $font-family --text-color: #00000;
}

h1,
h2,
h3,
h4,
h6 {
  color: $primary-color;
}

p {
  color: $primary-color;
}

div {
  color: $primary-color;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Mono", monospace;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  color: $primary-color;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

@import './navbar.scss';
@import './home.scss';
@import './about.scss';
@import './contact-us.scss';
@import './services.scss';
@import './footer.scss';