@import './utils';

.landing-section {
    background-color: #31004a;
    button {
        background-color: #31004a;
        color: #fff;
    }
}
.header {
    display: flex;
    background-image: url('../public/images/background.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    .column {
        min-width: 10rem;
        p.title {
            color: #fff;
            font-size: 5rem;
        }
        p.subtitle {
            color: #fff;
            font-size: 2rem;
        }
        .button {
            min-width: 10rem;
            color: #fff;
            border: 2px solid $primary-color;
            background-color: $primary-color;
            &:hover {
                color: #fff;
                background-color: $primary-color;
            }
        }
    }
}
footer {
    background-color: #31004a;
    color: #fff;
}