.landing-section {
    background-color: #31004a;
    button {
        background-color: #31004a;
        color: #fff;
    }
}
.header {
    display: flex;
    background-image: url('../public/images/background.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    .is-multiline {
        .column {
            border-radius: 10px;
        }
        h2 {
            color: #fff;
            text-shadow: #31004a 0px 0px 5px;
        }
        p {
            color: #fff;
            text-shadow: #31004a 0px 0px 5px;
        }
    }
}