.navbar-menu {
    box-shadow: none;
}
.navbar-item {
  text-decoration: underline;
  font-family: "Red Hat Mono", monospace;
  .button.is-link {
    border: 0px solid #fff;
    background-color: transparent;
    color: #31004a;
  }
  .button {
    background-color: #31004a;
    color: #fff;
    text-decoration: none !important;
  }
  img {
    max-height: 2.75rem;
    border-radius: 1rem;
  }
  &:hover {
    cursor: pointer;
  }
}
.navbar-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-inline-end: 1rem;
  .button {
    text-decoration: none !important;
    &:hover {
      background-color: #31004a;
    }
  }
  .button.is-outlined {
    background-color: #fff;
    border: 1px solid #31004a;
    color: #31004a;
    text-decoration: none !important;
    width: 10rem;
  }
  .button.is-primary {
    background-color: #31004a;
    width: 10rem;
  }
}
