
.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 5rem;
    .service {
        display: flex;
        flex-direction: row;
        grid-gap: 5rem;
        .explanation {
            .feature-header {
                color: $primary-color;   
            }
            .feature-description {
                p {
                    width: 400px;
                }
            }
        }
    }
    .show-case {
        .show-image {
            width: 350px;
        }
    }
}